@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-clr: #535353;
    --secondary-clr: #a8a8a8;
    --accent-clr: #121212;
    --background-clr: #f7f7f7;
}

body {
    padding-top: 1.5rem;
    background-color: var(--background-clr);
}

img {
    image-rendering: pixelated;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', Inter, sans-serif;
}

#canvas {
    display: block;
    margin-inline: auto;
}

.hidden {
    display: none !important;
}

h1 {
    font-size: 3rem;
}

h1,
p {
    text-align: center;
}

h1,
.accent-text {
    color: var(--accent-clr);
}

p {
    color: var(--primary-clr);
}

.scores {
    margin: 1rem 1rem 1rem auto;
    width: fit-content;
}

.btn {
    background-color: var(--background-clr);
    border: 4px solid var(--primary-clr);
    padding: 0.8rem 2rem;
    font-size: 1rem;
    transition:
        background-color,
        border-color 0.1s ease-out;
    min-width: 10rem;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        border-color: var(--accent-clr);
    }

    &:active {
        background-color: var(--background-clr);
        border-color: var(--primary-clr);
    }
}

#theme-menu {
    text-align: center;
    top: 2rem;

    & h2 {
        margin-bottom: 2.5rem;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        list-style: none;
        flex-wrap: wrap;
    }

    & label:hover {
        + svg {
            fill: var(--accent-clr);
        }
    }

    & input {
        appearance: none;
    }

    & fieldset {
        display: flex;
        align-items: center;
        border: none;
        gap: 2rem;

        & svg {
            width: 3rem;
            height: 3rem;
            fill: var(--primary-clr);
            stroke: none;
        }
    }
}

#canvas-frame {
    border: 1px solid var(--primary-clr);
    margin-inline: auto;
    position: relative;
    width: fit-content;
}

.over-canvas {
    position: absolute;
    left: 0;
    right: 0;
}

#game-over {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &:before {
        content: '';
        position: absolute;
        background-color: var(--secondary-clr);
        height: 100%;
        width: 100%;
        opacity: 0.3;
        z-index: -1;
    }

    & h2 {
        font-weight: 700;
    }
}

#game-title {
    margin-bottom: 1rem;
}

#menu-btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    margin-top: 0.5rem;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-clr);
    font-size: 1rem;

    &:hover {
        color: var(--accent-clr);
    }
}

main {
    width: fit-content;
    margin-inline: auto;
}

#jump-to-start {
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-transform: uppercase;
    animation: floating-text 3s ease-in-out infinite;
}

.background-text {
    background-color: var(--background-clr);
    width: fit-content;
    padding: 0.1rem 0.5rem;
}

#loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-clr);
    height: 100%;
    width: 100%;
    z-index: 3;
}

#obstacles-type {
    margin: 1rem;
    width: fit-content;
}

@keyframes floating-text {
    0% {
        transform: translate(-50%, -100%);
    }

    50% {
        transform: translate(-50%, calc(-100% + 0.3rem));
    }

    100% {
        transform: translate(-50%, -100%);
    }
}
