*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#canvas {
    display: block;
    border: 1px solid #000000;
    margin-inline: auto;
}

.hidden {
    display: none;
}
